<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/admindashbord.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>email-login</title>
</head>
<body>
    


<!-- include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->

<% if(data.succ){ %>
    <div class="alert">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <div class="alert_content">
            <h4><%= data.succ.head %></h4>
            <p> <strong> <%= data.succ.body %> </strong> </p>
        </div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
<% } %>

<section class="profile">
    <div class="dashbord">
        <h2>dashbord</h2>
        <div class="dashbord_button">
            <a href="/admin">
                <div class="dash_btn dot profile_page"  ><i class="fa fa-user" aria-hidden="true"></i> <p>dashbord</p></div>
            </a>
            <a href="/useradmin">
                <div class="dash_btn dot"  ><i class="fa fa-th-list" aria-hidden="true"></i> <p>user</p></div>
            </a>
            <a href="/doctoradmin">
                <div class="dash_btn dot"  ><i class="fa fa-th-list" aria-hidden="true"></i> <p>doctor</p></div>
            </a>           
            <a href="/hospitaladmin">
                <div class="dash_btn dot"  ><i class="fa fa-user" aria-hidden="true"></i> <p>hospital </p></div>
            </a>
            <a href="/setting">
                <div class="dash_btn dot"  ><i class="fa fa-user" aria-hidden="true"></i> <p>setting</p></div>
            </a>
        </div>
    </div>

    <div class="dashbord_content1 mySlides">
        <div>
            <div class="adminDashboard">
                <div class="col col1">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <span>User</span>
                    <h4> <%= data.obj.totaluser %> </h4>
                </div>
                <div class="col col2">
                    <i class="fas fa-syringe"></i>
                    <span>Doctors</span>
                    <h4><%= data.obj.totaldoctor %></h4>
                </div>
                <div class="col col3">
                    <i class="fas fa-user-md"></i>
                    <span>Hospitals</span>
                    <h4> <%= data.obj.hospital %> </h4>
                </div>
                <div class="col col4">
                    <i class="fas fa-briefcase-medical"></i>
                    <span>Appointments</span>
                    <h4> <%= data.obj.appointments %> </h4>
                </div>
            </div>
            <div class="canvasContainer">
                <h3>Hospital Survey</h3>
                <div class="picContainer">
                    <img src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1007%2Fs10916-020-1538-4/MediaObjects/10916_2020_1538_Fig1_HTML.png" alt="Graph">
                </div>
            </div>
            <div class="canvasContainer">
                <h3>Patient Age</h3>
                <div class="picContainer">
                    <img src="https://chartio.com/assets/3ad3d8/tutorials/charts/pie-charts/8f2915ab9024902155c5d27d430831be813de071853c69d778102722a4d0efbf/pie-chart-example-1.png" alt="">
                </div>
            </div>
            <div class="recentAppointments">
                <h3>Patients Enrolled</h3>
                <table class="recentAppointmentsTable">
                    <thead>
                        <tr>
                            <td>
                                <h4>Name</h4>
                            </td>
                            <td>
                                <h4>Phone Number</h4>
                            </td>
                            <td>
                                <h4>Email</h4>
                            </td>
                            <td>
                                <h4>Actions</h4>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < data.obj.patient.length ;i++ ){ %>
                            <tr>
                                <td>
                                    <h4> <%= data.obj.patient[i].name  %> </h4>
                                </td>
                                <td>
                                    <h4> <%= data.obj.patient[i].number  %></h4>
                                </td>
                                <td>
                                    <h4> <%= data.obj.patient[i].email  %> </h4>
                                </td>
                                <td>
                                    <h4 class="cancel" onclick="window.location.href='/adminallappointment?userid=<%= data.obj.patient[i].id  %>'" > Appointment Details</h4>
                                </td>
                            </tr>
                      <%  } %>
                                                
                    </tbody>
                </table>
               
            </div>
    
        </div>
    </div>

</section>





<!-- include _footer-->
<%- include('include/_footer') %>

<!-- /include _footer -->

<script>
    var medical_report = document.getElementsByClassName("profile_page");
    medical_report[0].style.background = "rgb(226, 220, 220)"; 
    medical_report[0].classList.add("mystyle");

    function popupremove() {
        var h = document.querySelector(".alert");
        setTimeout(function(){ h.style.display = "none" }, 700);
    }
    popupremove();  
</script>

</body>
</html>

