<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>demodoc</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/doctor.css">

    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->

</head>

<body>


    <!-- include nav-->
    <%- include('include/_nav') %>
    <!-- /include nav -->

        <% if(data.err) { %>
            <div class="alert" id="err">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                <div class="alert_content">
                    <h4>failuar</h4>
                    <p> <strong> <%= data.err %> </strong> </p>
                </div>
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            </div>
        <% } %>

        <section id="delhi">
            <div>
                Cardiak surgen in <strong> <u> Delhi</u> </strong>
            </div>
        </section>

        <!--.........sort ..........-->
        <div class="sort">
            <div class="sort-home"> Home / Doctor List </div>
            <select id="" name="">
                <option value="volvo">sort by</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <!--.........sort end..........-->

        <!--.........main..........-->

        <section id="main">
            <div class="main">
                <div class="filter">
                    <div class="filter-bar">
                        <h5> Filter By </h5>
                    </div>
                    <form action="">
                        <div class="filter-buttons">
                            <div class="fil-button">
                                <div> DLF Cyber city </div>
                                <i class="fa fa-times"></i>
                            </div>
                            <div class="fil-button">
                                <div>multy organ transplant </div>
                                <i class="fa fa-times"></i>
                            </div>
                            <div class="fil-button">
                                <div>apolo hospital </div>
                                <i class="fa fa-times"></i>
                            </div>
                            <div class="fil-button">
                                <div>30+ </div>
                                <i class="fa fa-times"></i>
                            </div>
                        </div>

                        <div class="filter-search">
                            <div class="filter-type">
                                <div class="heading"> Location </div>
                                <div class="logos">
                                    <div class="logo-search"> <i class="fas fa-search searchicon"></i> </div>
                                    <div class="logo-minus"> <i class="fa fa-minus"></i></div>
                                </div>
                            </div>
                            <div class="filter-check-box">
                                <ul>
                                    <li> <input type="checkbox"> DLF Cyber city </li>
                                    <li> <input type="checkbox"> Dwaraka </li>
                                    <li> <input type="checkbox"> Lajpat Nagar </li>
                                    <li> <input type="checkbox"> Palam Vihar </li>
                                    <li> <input type="checkbox"> Punjabi Baag </li>
                                    <li> <input type="checkbox"> Pusa Road </li>
                                </ul>
                            </div>
                            <div class="filter-show-more"><a href="#">+ show more</a></div>

                        </div>

                        <div class="filter-search">
                            <div class="filter-type">
                                <div class="heading"> Treatment </div>
                                <div class="logos">
                                    <div class="logo-search"> <i class="fas fa-search searchicon"></i> </div>
                                    <div class="logo-minus"> <i class="fa fa-minus"></i></div>
                                </div>
                            </div>
                            <div class="filter-check-box">
                                <ul>
                                    <li> <input type="checkbox"> Multi Organ Transplant</li>
                                    <li> <input type="checkbox"> Orthopedic Surgurey </li>
                                    <li> <input type="checkbox"> Infertility Treatment </li>
                                    <li> <input type="checkbox"> Dentistry </li>
                                    <li> <input type="checkbox"> Cardiology </li>
                                    <li> <input type="checkbox"> cancer </li>
                                </ul>
                            </div>
                            <div class="filter-show-more"><a href="#">+ show more</a></div>

                        </div>

                        <div class="filter-search">
                            <div class="filter-type">
                                <div class="heading"> Hospital </div>
                                <div class="logos">
                                    <div class="logo-search"> <i class="fas fa-search searchicon"></i> </div>
                                    <div class="logo-minus"> <i class="fa fa-minus"></i></div>
                                </div>
                            </div>
                            <div class="filter-check-box">
                                <ul>
                                    <li> <input type="checkbox">Apollo Hospital </li>
                                    <li> <input type="checkbox"> Manipal North </li>
                                    <li> <input type="checkbox"> Side Hospital </li>
                                    <li> <input type="checkbox"> Northstar </li>
                                    <li> <input type="checkbox"> AIMS </li>
                                    <li> <input type="checkbox"> Fortis Hospital </li>
                                </ul>
                            </div>
                            <div class="filter-show-more"><a href="#">+ show more</a></div>

                        </div>

                        <div class="filter-search">
                            <div class="filter-type">
                                <div class="heading"> Year of experience </div>
                                <div class="logos">
                                    <div class="logo-search"> <i class="fas fa-search searchicon"></i> </div>
                                    <div class="logo-minus"> <i class="fa fa-minus"></i></div>
                                </div>
                            </div>
                            <div class="filter-check-box">
                                <ul>
                                    <li> <input type="checkbox"> 30+ </li>
                                    <li> <input type="checkbox"> 20+ </li>
                                    <li> <input type="checkbox"> 25+ </li>
                                    <li> <input type="checkbox"> 15+ </li>
                                    <li> <input type="checkbox"> 10+ </li>
                                    <li> <input type="checkbox"> 5+ </li>
                                </ul>
                            </div>
                            <div class="filter-show-more"><a href="#">+ show more</a></div>

                        </div>
                    </form>
                </div>

                <div class="doctor-boxs">
                    <% for(var i=0 ; i < data.doctors.length ; i++) {%>
                        <div class="doctor-box">
                            <div class="doctor-content">

                                <div class="doctor-name">
                                    <h4 id='name<%= i %><%= data.doctors[i]._id %>'><%= data.doctors[i].name %></h4>
                                </div>

                                <div class="doctor-logos">
                                    <ul>
                                        <li>
                                            <div class="doctor-logo"><i class="fas fa-certificate"></i></div>
                                            <div id='specification<%= i %><%= data.doctors[i]._id %>'><%= data.doctors[i].specification %></div>
                                        </li>
                                        <li>
                                            <div class="doctor-logo"><i class="fas fa-hospital"></i></div>
                                            <div id='qualification<%= i %><%= data.doctors[i]._id %>'><%= data.doctors[i].qualification %></div>
                                        </li>
                                        <li>
                                            <div class="doctor-logo"><i class="fas fa-clock"></i></div>
                                            <div id='experience<%= i %><%= data.doctors[i]._id %>'><%= data.doctors[i].experience %></div>
                                        </li>
                                        <li>
                                            <div class="doctor-logo"><i class="fa fa-map-marker"></i></div>
                                            <div id='hospital<%= i %><%= data.doctors[i]._id %>'><%= data.doctors[i].hospital %></div>
                                        </li>
                                        <li>
                                            <div class="doctor-logo"> <i class="fas fa-clock"></i></div>
                                            <%= data.doctors[i].colony %>
                                                <%= data.doctors[i].city %>
                                                    <%= data.doctors[i].state %>
                                        </li>
                                        <li>
                                            <div class="doctor-logo"> <i class="fas fa-clock"></i></div>
                                            <%= data.doctors[i].fees %>
                                        </li>
                                    </ul>
                                </div>

                                <div class="doctor-button">
                                    <button class="bookapointment" onclick="myFunction(`<%= i %>`,`<%= data.doctors[i]._id %>`)"> book an apointment
                                    </button>
                                </div>

                            </div>

                            <div class="doctor-photo">
                                <a href="doctor_profile">
                                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"
                                        alt="">
                                </a>
                            </div>
                            
                           
                            <div class="date-container opencon">

                                <div class="back-button">
                                    <h4> < </h4>
                                </div>

                                <div class="date-groups">

                                    <% for(var k = 0 ; k < 7 ; k++) { 
                                        var inc = 0 + k;
                                        var currentDate = new Date(new Date(). getTime() + 24 * 60 * 60 * 1000 * inc);
                                        var abc = String(currentDate) ;
                                        var newcurrentDate = abc.slice(0,15)
                                        %>
                                    <div class="dates" value="" id='date<%= k %><%= data.doctors[i]._id %>' >
                                        <% if(k == 0){ %>
                                            <h4  id='bookingdate<%= k %><%= data.doctors[i]._id %>'>Today</h4>
                                        <% }else if(k == 1) { %>
                                            <h4  id='bookingdate<%= k %><%= data.doctors[i]._id %>'>Tommorow</h4>
                                        <% }else{ %>
                                            <h4  id='bookingdate<%= k %><%= data.doctors[i]._id %>'><%= newcurrentDate %></h4>
                                        <% } %>

                                                <h5><span id='day<%= k %><%= data.doctors[i]._id %>'`>  ?  </span> Slots Available</h5>
                                              
                                    </div>
                                    <% } %>
                
                                </div>

                                <div class="frountbutton">
                                    <h4> > </h4>
                                </div>
                            </div>
                            
                               
                            <div class="slots">
                                <% for(var j = 0 ; j < 7 ; j++) {   %>
                                    <div class="bookingtimegroup">

                                    </div> 
                                <% } %>
                            </div>
   

                         

                        </div>
                        

                    <% } %>

                </div>

            </div>
        </section>

        <!-- include help-->
        <%- include('include/_help') %>
            <!-- /include help -->

            <!-- include _footer-->
            <%- include('include/_footer') %>
                <!-- /include _footer -->



                <script>    
                ( function toggle_Schedules(){
                    const datecontainer = document.getElementsByClassName("date-container");
                    console.log("datecontainer = ",datecontainer)

                    const frountbutton = document.getElementsByClassName("frountbutton");
                    console.log("frountbutton = ",frountbutton)

                    const backbutton = document.getElementsByClassName("back-button");
                    console.log("backbutton = ",backbutton)

                    for (let ii = 0; ii < datecontainer.length; ii++) {
                        frountbutton[ii].addEventListener("click", e => {
                            var xx = datecontainer[ii].getElementsByClassName("dates")[0].getAttribute("value") ;
                                console.log("xx",xx);
                            var xxx = parseInt(xx)
                                console.log("parseInt xx",xxx);
                            if((xx == "") || (xx == NaN)){
                                xxx = 0 ;

                                    console.log("xxx = ",xxx)
                            }
                            var s = xxx + 1; 
                            console.log("s = ",s)
                            if(s <= 3){
                                console.log("yes");
                            }else{
                                console.log("no");
                            }
                            if(s <= 4){
                                const dates = datecontainer[ii].getElementsByClassName("dates");
                                for (let jj = 0; jj < dates.length; jj++) {
                                    dates[jj].style.transform += "translateX(-100%)";
                                   
                                    dates[jj].setAttribute("value" , `${s}`);
                                      
                                   console.log("uv",datecontainer[ii].getElementsByClassName("dates")[0].getAttribute("value"))
                                }
                                var xx = datecontainer[ii].getElementsByClassName("dates")[0].style.transform ;
                                console.log("xx f1= ",xx)
                               
                            }
                        }); 
                    }
                    for (let iii = 0; iii < datecontainer.length; iii++) {
                        backbutton[iii].addEventListener("click", ee => {
                            var ss = datecontainer[iii].getElementsByClassName("dates")[0].getAttribute("value") ;
                            console.log("ss = ",ss)
                            var sss = parseInt(ss)
                            console.log("sss = ",sss)
                            if(ss == ""){
                                var ssss = 0;
                            }else{
                                
                                var ssss = sss - 1;
                            }

                            console.log("ssss = ",ssss)

                            if((ss == "") || (ss == 0)){
                                console.log("no")
                            }

                            if(!((ss == "") || (ss == 0))){
                                const datess = datecontainer[iii].getElementsByClassName("dates");
                                for (let j = 0; j < datess.length; j++) {
                                    datess[j].style.transform += "translateX(100%)";
                                    datess[j].setAttribute("value" , `${ssss}`);
                                }
                                 var sssss = datecontainer[iii].getElementsByClassName("dates")[0].style.transform ;
                                 console.log("xxx f2= ",sssss)
                            }
                        });
                    }
                })();
                </script>

                <script>
                    function neww() {
                        var slide = document.getElementsByClassName("opencon");
                        for (var m = 0; m < slide.length; m++) {
                            slide[m].style.height = "0";
                        }
                    }
                    neww();
                    var slideIndexx;

                   function myFunction(slideIndexx,docid) {
                        showSlidesss(slideIndexx,docid);
                    }
                    async  function showSlidesss(slideIndexx,docid) {
                        console.log(" ids ",docid)
                        
                        console.log(" slideIndexx ",slideIndexx)
                        var s = document.getElementsByClassName("opencon");
                        var doc = document.getElementsByClassName("doctor-box");
                        var bt = doc[slideIndexx].getElementsByClassName("bookingtimegroup");

                        if (s[slideIndexx].style.height == "auto") {
                            s[slideIndexx].style.height = "0";
                            s[slideIndexx].style.margin = "0";

                            for(var j = 0 ; j< bt.length ;j++){
                                bt[j].classList.remove("active");
                            }

                         }else {
                            s[slideIndexx].style.height = "auto";
                            s[slideIndexx].style.margin = "1rem 0.5rem";

                        }

                        console.log( "/getschedule/" + docid )
                        const responsee = await fetch(`/getschedule?docid=${docid}`)
                        const c = await responsee.json();
                       // console.log("cccccccccc",c.schedule[1][0].day)

                        for(var i =0 ;i < c.schedule.length; i++){
                            var date = document.getElementById(`day${i}${docid}`);
                            date.innerHTML=c.schedule[i]
                        }
                    
                    }
                </script>                               

                <script>
                    (function toggle_Schedules_And_Slots () {
                        const booking = document.getElementsByClassName("doctor-box");

                        for (let i = 0; i < booking.length; i++) {
                            const bookingDateBtn = booking[i].getElementsByClassName("dates");
                            const timesGroup = booking[i].getElementsByClassName("bookingtimegroup");


                            for (let j = 0; j < bookingDateBtn.length; j++) {
                                bookingDateBtn[j].addEventListener("click",async e => {
                                    for (a = 0; a < timesGroup.length; a++) {
                                        timesGroup[a].classList.remove("active");
                                        bookingDateBtn[a].classList.remove("active");
                                    } 
                                    timesGroup[j].classList.add("active");
                                    bookingDateBtn[j].classList.add("active");

                                    
                                    var ids = bookingDateBtn[j].id ;
                                    var isdlen = ids.length ;
                                    var day =parseInt(  ids.slice(4,5) );
                                    var docid = ids.slice(5,isdlen) ;
                                    
                                    console.log("bookingDateBtn[j]............",bookingDateBtn[j]) ;
                                    console.log("bookingdate${j}${docid}. h4id.",`bookingdate${j}${docid}`) ;
                                    var x = document.getElementById(`bookingdate${j}${docid}`).innerHTML;
                                    console.log("  xtypeof = ",typeof(x))
                                    console.log("  xxx = ",`b${x}m`)

                                    var isdoctor = `<%= data.user.doctor %>`
                                    console.log(".isdoctor",isdoctor)


                                    if(x == "Today"){
                                        var currentDate = new Date(new Date(). getTime() + 24 * 60 * 60 * 1000 * 0);
                                        var abc = String(currentDate) ;
                                            x = abc.slice(0,15) 
                                        console.log("  x = ",x)
                                    }else if(x == "Tommorow"){
                                        var currentDate = new Date(new Date(). getTime() + 24 * 60 * 60 * 1000 * 1);
                                        var abc = String(currentDate) ;
                                            x = abc.slice(0,15) 
                                        console.log("  x = ",x)
                                    }else{
                                        console.log("  x = ",x)
                                    }


                                    console.log("  ids ",ids)
                                    console.log("  day ",day)
                                    console.log("  docid ",docid)

                                     var d = new Date();
                                     var n = d.getDay()
                                     console.log("n = ",n); 

                                     var clickday = n + day ;
                                     console.log("vclickday = ",clickday); 
                                     if(clickday > 6){
                                         var clickday = clickday - 7 ;
                                         console.log("clickday = ",clickday); 
                                     }

                                     if(clickday == 0)clickday="Sunday" ;
                                     if(clickday == 1)clickday="Monday" ;
                                     if(clickday == 2)clickday="Tuesday" ;
                                     if(clickday == 3)clickday="Wednesday" ;
                                     if(clickday == 4)clickday="Thursday" ;
                                     if(clickday == 5)clickday="Friday" ;
                                     if(clickday == 6)clickday="Saturday" ;

                                     console.log("nuwclickday = ",clickday); 

                                     const responsee = await fetch(`/setschedule?docid=${docid}&clickday=${clickday}`)
                                     const c = await responsee.json();
                                     console.log("cc = ",c); 

                                    timesGroup[j].innerHTML = "";

                                    console.log("bookingdate = ")
                                    for(var k=0 ; k < c.length ; k++){
                                        var mlis ="" ;
                                        var alis ="" ;
                                        var elis ="" ;

                                        for(var l=0 ; l <  c[k].slots.length  ; l++){ 

                                            var apmp = c[k].slots[l].schedule_time.slice(6,8);
                                            var fore = parseInt(c[k].slots[l].schedule_time.slice(0,2));
                                            var checkbox = c[k].slots[l].checkbox ;
                                            var isbook = c[k].slots[l].isbook ;


                                            var name = document.getElementById(`name${i}${docid}`).innerHTML;
                                            console.log("  doc name ",name)                                         

                                            var hospital = document.getElementById(`hospital${i}${docid}`).innerHTML;
                                            console.log("  doc hospital ",hospital)
                                            
                                            var qualification = document.getElementById(`qualification${i}${docid}`).innerHTML;
                                            console.log("  doc qualification ",qualification)
                                            
                                            var appointmentdate = x;
                                            console.log("  doc appointmentdate ",appointmentdate)
                                          
                                            if(apmp == "AM" && checkbox == "false" && isbook == "false"){
                                                mlis += `<li onclick="window.location.href='/patientappointment?name=${name}&hospital=${hospital}&qualification=${qualification}&appointmentdate=${x}&time=${c[k].slots[l].schedule_time}&bookhospital=${c[k].hospital}&scheduleid=${c[k].schedule_index }&slotid=${c[k].slots[l].id}&doctorid=${docid}&isdoctor=${isdoctor} '" > ${c[k].slots[l].schedule_time.slice(0,8)} </li>`;
                                            }
                                            else if( (apmp == "PM" && fore < 4 && checkbox == "false" && isbook == "false") || fore == 12 ){
                                                alis += `<li onclick="window.location.href='/patientappointment?name=${name}&hospital=${hospital}&qualification=${qualification}&appointmentdate=${x}&time=${c[k].slots[l].schedule_time}&bookhospital=${c[k].hospital}&scheduleid=${c[k].schedule_index }&slotid=${c[k].slots[l].id}&doctorid=${docid}&isdoctor=${isdoctor} '" > ${c[k].slots[l].schedule_time.slice(0,8)} </li>`;
                                            }else if(checkbox == "false" && isbook == "false"){
                                                elis += `<li onclick="window.location.href='/patientappointment?name=${name}&hospital=${hospital}&qualification=${qualification}&appointmentdate=${x}&time=${c[k].slots[l].schedule_time}&bookhospital=${c[k].hospital}&scheduleid=${c[k].schedule_index }&slotid=${c[k].slots[l].id}&doctorid=${docid}&isdoctor=${isdoctor} '" > ${c[k].slots[l].schedule_time.slice(0,8)} </li>`;
                                            }
                                        }

                                     timesGroup[j].innerHTML += 
                                       `<div class="booking-time">
                                            <div class="daytime">
                                                <h5> Morning: </h5> 
                                            </div>
                                            <ul>
                                                ${mlis}
                                            </ul>
                                        </div>
                                        <div class="booking-time">
                                            <div class="daytime">
                                                <h5> afternoon: </h5> 
                                            </div>
                                            <ul>
                                                ${alis}
                                            </ul>
                                        </div>
                                        <div class="booking-time">
                                            <div class="daytime">
                                                <h5> Evening: </h5>  
                                            </div>
                                            <ul>
                                                ${elis}
                                            </ul> 
                                        </div> 
                                        <div class="booking-hospital-name">
                                            <h4>  ${c[k].hospital} </h4>
                                        </div>`
                                    
                                    }
                            
                                });
                            }
                        }
                    
                    })();
                </script>

           

</body>

</html>