<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   
    <title>hospital</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/hospital.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<!-- include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->



<section id="delhi">    
    <div class="">
        Cardiak surgen in <strong> <u>Delhi</u>   </strong>
    </div>
</section>

<div class="sort">
    <div class="sort-home"> Home / hospital List  </div>
     <select id="" name="" placeholder="hi" >
                <option value="volvo">sortt by</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
    </select>
</div>


<section id="main">
    <div class="main">
        <div class="filter">
            <div class="filter-bar"> filter-by  </div>  
            <form action="">
                <div class="filter-search">  
                    <div class="filter-type"> 
                        <div class="heading"> location </div>
                        <div class="logos"> 
                            <div class="logo-search">  <i class="fas fa-search searchicon"></i>  </div>
                            <div class="logo-minus"> <i class="fa fa-minus" ></i></div>
                        </div> 
                    </div>
                    <div class="filter-check-box"> 
                        <ul>
                            <li> <input type="checkbox"> DLF Cyber city </li>
                            <li> <input type="checkbox"> Dwaraka </li>
                            <li> <input type="checkbox"> Lajpat Nagar </li>
                            <li> <input type="checkbox"> Palam Vihar </li>
                            <li> <input type="checkbox"> Punjabi Baag </li>
                            <li> <input type="checkbox"> Pusa Road </li>
                        </ul>
                    </div>
                    <div class="filter-show-more"><a href="#">+ show more</a></div>
                    
                </div>
                <div class="filter-search">  
                    <div class="filter-type"> 
                        <div class="heading"> Department </div>
                        <div class="logos"> 
                            <div class="logo-search">  <i class="fas fa-search searchicon"></i>  </div>
                            <div class="logo-minus"> <i class="fa fa-minus" ></i></div>
                        </div> 
                    </div>
                    <div class="filter-check-box"> 
                        <ul>
                            <li> <input type="checkbox"> Department </li>
                            <li> <input type="checkbox"> Department </li>
                            <li> <input type="checkbox"> Department  </li>
                            <li> <input type="checkbox"> Department  </li>
                            <li> <input type="checkbox"> Department  </li>
                            <li> <input type="checkbox"> Department  </li>
                        </ul>
                    </div>
                    <div class="filter-show-more"><a href="#">+ show more</a></div>
                    
                </div>
                <div class="filter-search">  
                    <div class="filter-type"> 
                        <div class="heading"> Treatment </div>
                        <div class="logos"> 
                            <div class="logo-search">  <i class="fas fa-search searchicon"></i>  </div>
                            <div class="logo-minus"> <i class="fa fa-minus" ></i></div>
                        </div> 
                    </div>
                    <div class="filter-check-box"> 
                        <ul>
                            <li> <input type="checkbox"> Multi Organ Transplant</li>
                            <li> <input type="checkbox"> Orthopedic Surgurey </li>
                            <li> <input type="checkbox"> Infertility Treatment </li>
                            <li> <input type="checkbox"> Dentistry </li>
                            <li> <input type="checkbox"> Cardiology </li>
                            <li> <input type="checkbox"> cancer </li>
                        </ul>
                    </div>
                    <div class="filter-show-more"><a href="#">+ show more</a></div>
                
                </div>                  
            </form>
        </div>
        <div class="doctor-boxs">
            <% for(var i= 0 ;i < data.userlist.length ;i++ ){ %>
                <div class="doctor-box">  
                    <div class="doctor-content">
                                <div class="doctor-name">
                                    <h4><%= data.userlist[i].name %></h4> 
                                </div>
                                <div class="doctor-logos"> 
                                    <ul>
                                        <li> 
                                            <div class="doctor-logo"><i class="fas fa-map-marker"></i> </div> 
                                            <%= data.userlist[i].address %>        
                                        </li>
                                        <li> 
                                            <div class="doctor-logo"><i class="fas fa-bed"></i></div> 
                                            <%= data.userlist[i].bed %> beds     
                                        </li>
                                        <li> 
                                            <div class="doctor-logo"> <i class="fas fa-stethoscope"></i> </div> 
                                            <%= data.userlist[i].specification %>      
                                        </li>
                                    </ul>
                                </div>
                                <div class="filter-buttons">  
                                        <div class="fil-button">
                                            <div> DLF Cyber city  </div> 
                                        </div>
                                        <div class="fil-button"> 
                                            <div>multy organ transplant  </div>    
                                        </div>
                                        <div class="fil-button"> 
                                            <div>apolo   </div>  
                                        </div>
                                        <div class="fil-button">
                                            <div>30+  </div>  
                                        </div>
                                        <div class="fil-button">
                                            <div> DLF Cyber city  </div> 
                                        </div>
                                        <div class="fil-button"> 
                                            <div>multy  transplant  </div>    
                                        </div>
                                        <div class="fil-button"> 
                                            <div>apolo hospital  </div>  
                                        </div>
                                        <div class="fil-button">
                                            <div>30+  </div>  
                                        </div>
                                </div>  
                                <div class="doctor-button"> 
                                    <a href="">
                                        <button> Call Now </button>
                                    </a>
                                </div>
                    </div>
                    <div class="doctor-photo" >
                        <a href="about_hospital">
                            <% if(data.userlist[i].file){  %>
                                <img src="./uploads/<%= data.userlist[i].file %>"  alt=" Doctor Pic">
                            <% }else{  %>
                                <img src="https://cdn2.iconfinder.com/data/icons/jetflat-buildings/90/008_010_hospital_clinic_building-128.png"  alt=" Doctor Pic">
                            <%   } %>
                        </a>
                    </div>          
                </div>
            <% } %>
        </div>
    </div>
</section>


<!-- include help-->
<%- include('include/_help') %>
<!-- /include help -->

<!-- include _footer-->
<%- include('include/_footer') %>
<!-- /include _footer -->

<script>

    var navpage = document.querySelectorAll(".navpage");
    navpage[1].style.color = "blue" ;

</script>
</body>
</html>