<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra project</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

 
<!-- include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->

<% if(data.succ){ %>
    <div class="alert">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <div class="alert_content">
            <h4><%= data.succ.head %></h4>
            <p> <strong> <%= data.succ.body %> </strong> </p>
        </div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
<% } %>



<!--.........main..........-->
<main >

<!--........search.....1...........-->
<section class="search">
    <div class="searchbox">
        <h1>Find Affordable Healthcare </h1>
        <p> Join the theousend of other who have exercised their rights to quality healthcare at a price you can afford</p>
        <form action="demodoc" method="POST">
           <div class="location">      
                <i class="fa fa-map-marker" ></i>
                <input class="input1" type="text" class="searchinput"  placeholder = "Ahamadabad" >
                <div class="simg">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/gps.png" alt="tvastra logo">
                </div>

           </div>
            <!-- <input class="input2" type="text" class="searchinput" placeholder="Search for hospital doctor and treatment" > -->
            <input list="brow"  placeholder="Search for hospital doctor and treatment" name="sortinput">
            <datalist id="brow">
                <% for( var i =0; i < data.userlist[0].length ; i++){ %>
                    <option value="   <%= data.userlist[0][i] %>"> 
                        <p>doctor</p> 
                   </option>
                <% } %>
                <% for( var i =0; i < data.userlist[1].length ; i++){ %>
                    <option value=" <%= data.userlist[1][i] %>"> 
                        <p>treatment</p> 
                   </option>
                <% } %>
                <% for( var i =0; i < data.userlist[2].length ; i++){ %>
                    <option value="  <%= data.userlist[2][i] %>"> 
                        <p>hospital</p> 
                   </option>
                <% } %>
            </datalist>  
         
            <button class="primary-button">search</button>
        </form>
    </div>
</section>
<!--........search..end...1...........-->

<!--.........working-steps.......2.....-->
<section class="working-steps" >
    <div class="step">
        <h1>How it works</h1>
        <p>various faciclitis are provided here .but there is a protocol which needs to be followed so that you get the service at its best.  </p> 
    
            <ul class="work-ul">
                <li class="w-but" onclick="currentSlideee(1)" > <h3 class="w-h3"><span class ="w-span">01 </span> Fix Consultation</h3>    </li>           
                <div class="w-img"> 
                    <div class="wcontent">  
                        <div class="img">
                            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="tvastra logo">
                        </div>              
                        <h3>Fix1 Consultation</h3>
                        <p> this depicts that use rwill have to fix appointment first when it selects a particular doctor. </p>                      
                    </div>
                </div>    
                <li class="w-but" onclick="currentSlideee(2)" > <h3 class="w-h3"><span class ="w-span">02 </span> Upload Medical Report</h3>  </li>
                <div class="w-img"> 
                    <div class="wcontent">  
                        <div class="img">
                            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png" alt="tvastra logo">
                        </div>              
                        <h3>Fixxxx Consultation</h3>
                        <p> this depicts that use rwill have to fix appointment first when it selects a particular doctor. </p>                      
                    </div>
                </div> 
                <li class="w-but" onclick="currentSlideee(3)" > <h3 class="w-h3"><span class ="w-span">03 </span> Consult With Doctor</h3> </li>
                <div class="w-img"> 
                    <div class="wcontent">  
                        <div class="img">
                            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg" alt="tvastra logo">
                        </div>              
                        <h3>Fix Ccccconsultation</h3>
                        <p> this depicts that use rwill have to fix appointment first when it selects a particular doctor. </p>                      
                    </div>
                </div> 
                <li class="w-but" onclick="currentSlideee(4)" > <h3 class="w-h3"><span class ="w-span">04 </span> Fix Surgery</h3> </li>
                <div class="w-img"> 
                    <div class="wcontent">  
                        <div class="img">
                            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg" alt="tvastra logo">
                        </div>              
                        <h3>Fix Ccccconsultation</h3>
                        <p> this depicts that use rwill have to fix appointment first when it selects a particular doctor. </p>                      
                    </div>
                </div> 
                <li class="w-but" onclick="currentSlideee(5)" > <h3 class="w-h3"><span class ="w-span">05 </span> Hospital Send estimates</h3> </li>
                <div class="w-img"> 
                    <div class="wcontent">  
                        <div class="img">
                            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg" alt="tvastra logo">
                        </div>              
                        <h3>Fix Ccccconsultation</h3>
                        <p> this depicts that use rwill have to fix appointment first when it selects a particular doctor. </p>                      
                    </div>
                </div>  
                <li class="w-but" onclick="currentSlideee(6)" > <h3 class="w-h3"><span class ="w-span">06 </span> Payment</h3>  </li>
                <div class="w-img"> 
                    <div class="wcontent">  
                        <div class="img">
                            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg" alt="tvastra logo">
                        </div>              
                        <h3>Fix Ccccconsultation</h3>
                        <p> this depicts that use rwill have to fix appointment first when it selects a particular doctor. </p>                      
                    </div>
                </div> 
                <li class="w-but" onclick="currentSlideee(7)" > <h3 class="w-h3"><span class ="w-span">07 </span> Surgery Completed</h3> </li>
                <div class="w-img"> 
                    <div class="wcontent">  
                        <div class="img">
                            <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg" alt="tvastra logo">
                        </div>              
                        <h3>Fix Ccccconsultation</h3>
                        <p> this depicts that use rwill have to fix appointment first when it selects a particular doctor. </p>                      
                    </div>
                </div>            
            </ul>
        
    </div>
</section>

<!--.........working-steps.end.....2.....-->

<!--.........doctor....3....-->
<section class="doctor">
        <h1>world class expert doctor!</h1>
        <p>The university of texas southastern medical center has been a long world-renowned research hospital. But untill the '80s, you couldn't go there.now with the addition of aston center and zale Lipsy Hospital. UT southastern is also a mecca for partients. </p> 
            
        <div class="mySlides fade">

            <div class="doctor-box">  
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doc1">
                </div> 
                <div class="doctor-name">  
                        <div class="sudo">
                            <h3>Duke Sanson</h3>
                            <ul>
                               <li> Neuro sergeon </li>
                               <li> chain department of neurological surgery</li>
                               <li>  australia</li>        
                            </ul>  
                        </div>          
                </div>
            </div>

            <div class="doctor-box">  
                <div class="doctor-image">                
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doc1">
                </div> 
                <div class="doctor-name"> 
                    <div class="sudo">
                        <h3>Georgea Peter</h3>
                        <ul>
                            <li> Breast cancer Surgeon </li>
                            <li> Director .UT. Southwest  </li>
                            <li> London </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="doctor-box">         
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doc1">
                </div>  
                <div class="doctor-name">
                    <div class="sudo">
                        <h3>CHarlie Moon</h3>
                         <ul>
                            <li> Cardiac Surgeon  </li>
                            <li> MBBS,MD. FRCP. MRCP. Fellowship </li>
                            <li> New Delhi. india</li>
                        </ul>
                    </div>
                </div>
                    
            </div>  

            <div class="doctor-box">          
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doc1">
                </div>
                <div class="doctor-name">
                    <div class="sudo">
                        <h3>Rose Moon </h3>
                         <ul>
                            <li> Cardiac Surgeon  </li>
                            <li> MBBS,MD. FRCP. MRCP. Fellowship </li>
                            <li> New Delhi. india</li>
                        </ul>
                    </div>
                </div>    
            </div>

        </div>
        <div class="mySlides fade">

            <div class="doctor-box">  
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="doc1">
                </div> 
                <div class="doctor-name">  
                        <div class="sudo">
                            <h3>Duke Sanson</h3>
                            <ul>
                               <li> Neuro sergeon </li>
                               <li> chain department of neurological surgery</li>
                               <li>  australia</li>        
                            </ul>  
                        </div>          
                </div>
            </div>

            <div class="doctor-box">  
                <div class="doctor-image">                
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doc1">
                </div> 
                <div class="doctor-name"> 
                    <div class="sudo">
                        <h3>Georgea Peter</h3>
                        <ul>
                            <li> Breast cancer Surgeon </li>
                            <li> Director .UT. Southwest  </li>
                            <li> London </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="doctor-box">         
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doc1">
                </div>  
                <div class="doctor-name">
                    <div class="sudo">
                        <h3>CHarlie Moon</h3>
                         <ul>
                            <li> Cardiac Surgeon  </li>
                            <li> MBBS,MD. FRCP. MRCP. Fellowship </li>
                            <li> New Delhi. india</li>
                        </ul>
                    </div>
                </div>
                    
            </div>  

            <div class="doctor-box">          
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doc1">
                </div>
                <div class="doctor-name">
                    <div class="sudo">
                        <h3>Rose Moon </h3>
                         <ul>
                            <li> Cardiac Surgeon  </li>
                            <li> MBBS,MD. FRCP. MRCP. Fellowship </li>
                            <li> New Delhi. india</li>
                        </ul>
                    </div>
                </div>    
            </div>

        </div>
        <div class="mySlides fade">

            <div class="doctor-box">  
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doc1">
                </div> 
                <div class="doctor-name">  
                        <div class="sudo">
                            <h3>Duke Sanson</h3>
                            <ul>
                               <li> Neuro sergeon </li>
                               <li> chain department of neurological surgery</li>
                               <li>  australia</li>        
                            </ul>  
                        </div>          
                </div>
            </div>

            <div class="doctor-box">  
                <div class="doctor-image">                
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg" alt="doc1">
                </div> 
                <div class="doctor-name"> 
                    <div class="sudo">
                        <h3>Georgea Peter</h3>
                        <ul>
                            <li> Breast cancer Surgeon </li>
                            <li> Director .UT. Southwest  </li>
                            <li> London </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="doctor-box">         
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="doc1">
                </div>  
                <div class="doctor-name">
                    <div class="sudo">
                        <h3>CHarlie Moon</h3>
                         <ul>
                            <li> Cardiac Surgeon  </li>
                            <li> MBBS,MD. FRCP. MRCP. Fellowship </li>
                            <li> New Delhi. india</li>
                        </ul>
                    </div>
                </div>
                    
            </div>  

            <div class="doctor-box">          
                <div class="doctor-image">
                    <img class="img" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="doc1">
                </div>
                <div class="doctor-name">
                    <div class="sudo">
                        <h3>Rose Moon </h3>
                         <ul>
                            <li> Cardiac Surgeon  </li>
                            <li> MBBS,MD. FRCP. MRCP. Fellowship </li>
                            <li> New Delhi. india</li>
                        </ul>
                    </div>
                </div>    
            </div>

        </div>

        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
</section>
<!--.........doctor.end...section 3....-->

<!--.........Treatment....4....-->
<section class="Treatment">

    <div class="demo-hp">
        <h1>Featured Medical Treatment</h1>
        <p>Join the theousend of other who have exercised their rights to quality healthcare at a price you can afford  </p> 
    </div>

    <div class="doc fade">
            <div class="docs">
                <div class="doc-c" id="ta">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="">
                        <div class="name">
                            <h5>Dentistry</h5>
                            50+ Specialists     
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tb">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                        <div class="name">
                            <h5>cancer</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tc">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                        <div class="name">
                            <h5>Cardiologic Treatment</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="td">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                        <div class="name">
                            <h5>Multi Organ Transplant</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="te">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                        <div class="name">
                            <h5>Orthopedics Surgery</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tf">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="">
                        <div class="name">
                            <h5>Infertility Treatment</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>
           </div>
    </div>
    <div class="doc fade">
            <div class="docs">
                <div class="doc-c" id="ta">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                        <div class="name">
                            <h5>Dentistry</h5>
                            50+ Specialists     
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tb">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                        <div class="name">
                            <h5>cancer</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tc">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                        <div class="name">
                            <h5>Cardiologic Treatment</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="td">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                        <div class="name">
                            <h5>Multi Organ Transplant</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="te">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                        <div class="name">
                            <h5>Orthopedics Surgery</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tf">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="">
                        <div class="name">
                            <h5>Infertility Treatment</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>
           </div>
    </div>
    <div class="doc fade">
            <div class="docs">
                <div class="doc-c" id="ta">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="">
                        <div class="name">
                            <h5>Dentistry</h5>
                            50+ Specialists     
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tb">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg" alt="">
                        <div class="name">
                            <h5>cancer</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tc">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                        <div class="name">
                            <h5>Cardiologic Treatment</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="td">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                        <div class="name">
                            <h5>Multi Organ Transplant</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="te">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                        <div class="name">
                            <h5>Orthopedics Surgery</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>

                <div class="doc-c" id="tf">
                    <div class="grid-box">
                        <div class="linear-g"></div>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="">
                        <div class="name">
                            <h5>Infertility Treatment</h5>
                            50+ Specialists
                        </div>
                    </div>
                </div>
           </div>
    </div>

        <div class="dotss">
            <span class="dott" onclick="currentSlidee(1)"></span> 
            <span class="dott" onclick="currentSlidee(2)"></span> 
            <span class="dott" onclick="currentSlidee(3)"></span> 
        </div>
</section>
<!--.........Treatment.ned...4....-->

<!--............services....5.-->
<section class="services"> 

        <div class="content">
            <h1>Exclusive services</h1>
            <p>we whan to be comfortable  and thus apsrd from things you illness loren45 and thus apsrd from things you illness </p>
        </div>
    
        <div class="box">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png" alt="">
            <h3>TRAVEL</h3>
        </div>

        <div class="box" >
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png" alt="">
            <h3>FOOD</h3>
        </div>
        
        <div class="box" >
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png" alt="">
            <h3>ACCOMODATION</h3>
        </div>
        
        <div class="box">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png" alt="">
            <h3>LABS</h3>
        </div>
        
        <div class="box">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png" alt="">
            <h3>REPORTS</h3>
        </div>
        
        <div class="box">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png" alt="">
            <h3>AMBULANCE</h3>
        </div>
  
</section>
<!--............services..end..5.-->

<!-- include help-->
<%- include('include/_help') %>
<!-- /include help -->


</main >

<!-- include _footer-->
<%- include('include/_footer') %>
<!-- /include _footer -->


<script>


    function popupremove() {
        var h = document.querySelector(".alert");
        setTimeout(function(){ h.style.display = "none" }, 700);
    }
    popupremove();    

    var slideIndex = 1;
    showSlidesss(slideIndex);

    function currentSlide(n) {
    showSlidesss(slideIndex = n);
    }

    function showSlidesss(n) {
        var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i] = dots[i].style.background = "white";
        }
        slides[slideIndex-1].style.display = "flex";  
        dots[slideIndex-1].style.background = "grey";
    }


    //.................................................................................

    var slideIndexx = 1;
    showSlidess(slideIndexx);

    function currentSlidee(n) {
    showSlidess(slideIndexx = n);
    }

    function showSlidess(n) {
    var i;
    var slidess = document.getElementsByClassName("doc");
    var dotss = document.getElementsByClassName("dott");
    if (n > slidess.length) {slideIndexx = 1}    
    if (n < 1) {slideIndexx = slidess.length}
    for (i = 0; i < slidess.length; i++) {
        slidess[i].style.display = "none";  
    }
    for (i = 0; i < dotss.length; i++) {
        dotss[i] = dotss[i].style.background = "rgba(0,0,0,0.2)";
    }
    slidess[slideIndexx-1].style.display = "flex";  
    dotss[slideIndexx-1].style.background = "grey";
    }

    //......................................................


    var slideIndexxx = 1;
    showSlides(slideIndexxx);

    function currentSlideee(n) {
    showSlides(slideIndexxx = n);
    }

    function showSlides(n) {
        var i;
        var slidesss = document.getElementsByClassName("w-img");
        var dots = document.getElementsByClassName("w-but");
        if (n > slidesss.length) {slideIndexxx = 1}    
        if (n < 1) {slideIndexxx = slidesss.length}
        for (i = 0; i < slidesss.length; i++) {
            slidesss[i].style.display = "none";  
            }

        var w_h3 = document.getElementsByClassName("w-h3");
        var w_span = document.getElementsByClassName("w-span");

        for (var j = 0; j < w_h3.length; j++) {
            w_h3[j].style.color = "rgba(0,0,0,0.2)";
            w_span[j].style.color = "rgba(0,0,0,0.2)";
            dots[j].style.border = "0.1rem solid rgba(0,0,0,0.2)";  
        }    
            slidesss[slideIndexxx-1].style.display = "flex";  
            dots[slideIndexxx-1].style.border = "0.1rem solid black";  
            w_h3[slideIndexxx-1].style.color = "#1e0447";
            w_span[slideIndexxx-1].style.color = "skyblue";

    }

    //......................................................





</script>



</body>
</html>
