<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    


<!-- include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->

<% if(data.succ){ %>
    <div class="alert">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <div class="alert_content">
            <h4>success</h4>
            <p> <strong> <%= data.succ %> </strong> </p>
        </div>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>
<% } %>

<section class="profile">
    <div class="dashbord">
        <h2>dashbord</h2>
        <div class="dashbord_button">
            <div class="dash_btn dot" onclick="currentSlidee(1)" ><i class="fa fa-user" aria-hidden="true"></i> <p>profile</p></div>
            <div class="dash_btn dot" onclick="currentSlidee(2)" ><i class="fa fa-th-list" aria-hidden="true"></i> <p>appointments</p></div>
            <div class="dash_btn dot" onclick="currentSlidee(3)" ><i class="fa fa-user" aria-hidden="true"></i> <p>medical reports </p></div>
            <div class="dash_btn dot" onclick="currentSlidee(4)" ><i class="fa fa-user" aria-hidden="true"></i> <p>setting</p></div>
        </div>
    </div>

    <div class="dashbord_content1 mySlides">
        <form action="/update_profile" method="POST" enctype="multipart/form-data" > 
            <div class="save_change" >
                <h2>Account</h2>
                <button type="submit" class="save_btn">save change</button>
            </div>
            <div class="border_div">
                <div class="photo-con">
                    <h4>profile photo</h4>
                    <div class="profile_photo">
                        <div class="img">                            
                            <img src="./uploads/<%= data.user.file %>"  id="preview">
                        </div>
                        <div class="select_photo">
                            <p> pick a photo from your system</p>
                            <label class="custom-file-upload">
                                <input type="file" id="filetag" name="file"   >                              
                                <h5>select photo</h5>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="inputs">
                    <label for="name"><h4>name</h4></label>
                    <input type="text" name="name" id="name" value= '<%= data.user.name %>' >
                </div>
            </div>
            <div class="border_div">
                <div class="inputs">
                    <label for="number"><h4>number</h4></label>
                    <div class="num">
                        <input type="text" name="number" id="number" value= '<%= data.user.number %>' readonly>
                        <i class="fa fa-pencil" aria-hidden="true" class="pencil" onclick = "editnumber()" ></i>
                    </div>
                </div>
                <div class="inputs">
                    <label for="email"><h4>email</h4></label>
                    <input type="email" name="email" id="email" value= '<%= data.user.email %> '>
                </div>
                <div class="inputs">
                    <label for="gender"><h4>gender</h4></label>
                    <select id="gender" name="gender" >
                        <option value = '<%= data.user.gender %>' > <%= data.user.gender %> </option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                        <option value="other">other</option>
                    </select>
                </div>
                <div class="inputs">
                    <label for="date"><h4>date</h4></label>
                    <input type="date" name="date" id="date" value= '<%= data.user.data %>' >
                </div>
                <div class="inputs">
                    <label for="timezon"><h4>timezon</h4></label>
                    <input type="text" name="timezon" id="timezon" value= '<%= data.user.timezon %>' >
                </div>
            </div>
            <div class="border_div">
                <div class="inputs">
                    <label for="house no"><h4>house no</h4></label>
                    <input type="text" name="house_no" id="house no" value= '<%= data.user.house_no %>' >
                </div>
                <div class="inputs">
                    <label for="colony"><h4>colony</h4></label>
                    <input type="text" name="colony" id="colony" value = '<%= data.user.colony %>' >
                </div>
                <div class="inputs">
                    <label for="city"><h4>city</h4></label>
                    <input type="text" name="city" id="city" value= '<%= data.user.city %>' >
                </div>
                <div class="inputs">
                    <label for="state"><h4>state</h4></label>
                    <input type="text" name="state" id="state" value= '<%= data.user.state %>' >
                </div>
                <div class="inputs">
                    <label for="country"><h4>country</h4></label>
                    <select id="country" name="country" value= '<%= data.user.country %>' >
                        <option value = '<%= data.user.country %>' ><%= data.user.country %></option>
                        <option value="india">india</option>
                        <option value="usa">usa</option>
                        <option value="newyork">newyork</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <div class="dashbord_content2 mySlides">
        <h2 class="no_appointment ">  no Appointment 😥 </h2>
        <h2>Upcomming Appointments</h2>
        <div class="appointment">
            <div class="date_time">
                <div class="date"> <h4>mar 22</h4></div>
                <div class="time"> 
                    <h4 class="name">CHARLIE MOON </h4>
                    <h4>Tue 12:00 PM </h4>
                    <h4>Apollo Hospital </h4>
                    <div class="confirmed">Confirmed </div>
                </div>
            </div>
            <div class="cancel_appointment">
                <button>reshedule Aappointment</button>
                <button  onclick="cancel_appointment_btn()" >cancel Aappointment </button>
            </div>
        </div>
        <div class="appointment">
            <div class="date_time">
                <div class="date"> <h4>mar 22</h4></div>
                <div class="time"> 
                    <h4 class="name">CHARLIE MOON </h4>
                    <h4>Tue 12:00 PM </h4>
                    <h4>Apollo Hospital </h4>
                    <div class="confirmed">Confirmed </div>
                </div>
            </div>
            <div class="cancel_appointment">
                <button>reshedule Aappointment</button>
                <button>cancel Aappointment </button>
            </div>
        </div>
        <div class="appointment">
            <div class="date_time">
                <div class="date"> <h4>mar 22</h4></div>
                <div class="time"> 
                    <h4 class="name">CHARLIE MOON </h4>
                    <h4>Tue 12:00 PM </h4>
                    <h4>Apollo Hospital </h4>
                    <div class="confirmed">Confirmed </div>
                </div>
            </div>
            <div class="cancel_appointment">
                <button>reshedule Aappointment</button>
                <button>cancel Aappointment </button>
            </div>
        </div>  
        <h2>compleated Appointments</h2>
                    
    </div>
    <div class="dashbord_content2 mySlides medical_record">
        <div class="head">
            <h2>Medical Records</h2>
            <button onclick="add_record()"  >add record </button>
        </div>

    <% for(var i = 0 ; i < record.length ; i++ ){ %>
    <div class="appointment">
        <div class="date_time">
            <div class="date"> <h5 id="datess"><%= data.record[i].date %></h5></div>
            <div class="time"> 
                <h4 class="name"><%= data.record[i].title %></h4>
                <h4><%= data.record[i].name %> </h4>
                <h4><%= data.record[i].record_type %></h4>
            </div>
        </div>
        <div class="cancel_appointment">
            <form action="/delete_record" method="POST">
                <input type="text" name="uid" id="uid" value="<%= data.record[i]._id %>">
                <button  >Delete </button>
            </form>
        </div>
    </div>       
    <% for(var j = 0 ; j < data.record[i].file.length ; j++ ){  %>
        <div class="photos" style="width: 4rem;height: 4rem">
            <img src="./uploads/<%= data.record[i].file[j].filename %> "  > 
        </div>
    <% } %>

    <% } %>    
                                                    
    </div>
    <div class="dashbord_content1 mySlides">
        <form>
            <div class="save_change" >
                <h2>Account</h2>
                <button class="save_btn">change password</button>
            </div>
            <div class="border_div">
                <div class="inputs">
                    <label for="current_password"><h4>current password</h4></label>
                    <input type="text" name="current_password" id="current_password" value="">
                </div>
            </div>
            <div class="border_div">
                <div class="inputs">
                    <label for="new_password"><h4>new password</h4></label>
                    <input type="text" name="new_password" id="new_password" value="">
                </div>
                <div class="inputs">
                    <label for="confirm_password"><h4>confirm password</h4></label>
                    <input type="text" name="confirm_password" id="confirm_password" value="">
                </div>
            </div>
        </form>
    </div>
</section>

<div class="number_change" id="number_change">
    <div class="edit_number">
        <h2>change phone number</h2>
        <form>
            <div class="inputs">
                <label for="number"><h4>Current phone number</h4></label>
                <input type="text" class="number" value= <%= data.user.number %>  readonly>
                <label for="number"><h4>Enter new phone number</h4></label>
                <input type="text" class="new_number">
            </div>
            <div class="send_otp">
                <button class="cancel_btn" onclick="noteditnumber()">cancel</button>
                <button class="otp_btn">send otp</button>
            </div>
        </form>
    </div>
</div>

<div id="cancel_appointment" class="cancel_appointment_btn" >
    <div class="edit_number">
        <h2>Cancel Appointment?</h2>
        <p>Are you sure you want to cancel your appointment?</p>
        <div class="send_otp">
            <button class="yes" >yes</button>
            <button class="no"  onclick="cancel_appointment_btn_no()"  >no</button>
        </div>
    </div>
</div>

<div id="number_change" class="add_record" >
    <div class="edit_number">

        <form action="/medical_record" method="POST" enctype="multipart/form-data">
            <div class="add_photo">
                <div id="previeww" >
                </div>
                <label class="add_photo_div">
                    <input type="file" name="record_photos" id="file-input" multiple>   
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <h3>add photo</h3>
                </label>
            </div>
            <div class="inputs">
                <input type="text" name="title" class="" placeholder="title" >
                <input type="text" name="name" class="" value='<%= data.user.name %>'>
                <input type="date" name="date" class="date">
                <input type="text" name="number" class="number" value='<%= data.user.number %>'>
            </div>
            <div class="report">
                <h2>type of record</h2>  
                <input type="radio" name="record_type" value="report" id="reportTypeInput">
                <label for="reportTypeInput">
                    <div class="report_type">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <h3>report</h3>
                    </div>
                </label>
                <input type="radio" name="record_type" value="prescription" id="prescriptionTypeInput">
                <label for="prescriptionTypeInput">
                    <div class="report_type">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <h3>prescription</h3>
                    </div>
                </label>
                <input type="radio" name="record_type" value="report" id="invoiceTypeInput">
                <label for="invoiceTypeInput">
                    <div class="report_type">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <h3>invoice</h3>
                    </div>
                </label>
         
            </div>
            <div class="send_otp">
                <div class="cancel_btn" onclick="not_add_record()"  >cancel</div>
                <button class="done" onclick="not_add_record()" type="submit" >Done</button>
            </div>
        </form>

    </div>
</div>



<!-- include _footer-->
<%- include('include/_footer') %>

<!-- /include _footer -->


<script>

    var slideIndex = 1;
    showSlidesss(slideIndex);
    function currentSlidee(n) {
      showSlidesss(slideIndex = n);
    }
    function showSlidesss(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].style.background = "#eee";
            dots[i].classList.remove("mystyle");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].style.background = "rgb(226, 220, 220)";  //.classList.add("mystyle");  .classList.remove("mystyle");
        dots[slideIndex-1].classList.add("mystyle");
    }
    
    //............................................
    function editnumber(){
      var number_change = document.getElementsByClassName("number_change");
        number_change[0].style.display = "flex";
    }
    function noteditnumber(){
      var number_change = document.getElementsByClassName("number_change");
        number_change[0].style.display = "none";
    }
    
    //...............................................
    function cancel_appointment_btn(){
        var cancel_appointment_btn = document.getElementsByClassName("cancel_appointment_btn");
        cancel_appointment_btn[0].style.display = "flex";
    }
    
    function cancel_appointment_btn_no(){
        var cancel_appointment_btn = document.getElementsByClassName("cancel_appointment_btn");
        cancel_appointment_btn[0].style.display = "none";
    }
    //............................................
    
    function add_record(){
      var number_change = document.getElementsByClassName("add_record");
        number_change[0].style.display = "flex";
    }
    function not_add_record(){
      var number_change = document.getElementsByClassName("add_record");
        number_change[0].style.display = "none";
    }
    
    

///.................................................................. 2 min me aaya 
var fileTag = document.getElementById("filetag"),
    preview = document.getElementById("preview");
    
fileTag.addEventListener("change", function() {
  changeImage(this);
});

function changeImage(input) {
  var reader;
  if (input.files && input.files[0]) {
    reader = new FileReader();
    reader.onload = function(e) {
      preview.setAttribute('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}

///................................................................
/*
var fileTagg = document.getElementById("filetagg"),
    previeww = document.getElementById("previeww");
    fileTagg.addEventListener("change", function() {
//   changeImagee(this);
        if (this.files) {
            [].forEach.call(this.files, changeImagee);
          }
});

function changeImagee(input) {
  var reader;
  if (input.files) {
    reader = new FileReader();
    reader.onload = function(e) {
      previeww.setAttribute('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}
*/

function previewImages() {
    var preview = document.querySelector('#previeww');
    if (this.files) {
      [].forEach.call(this.files, readAndPreview);
    }
    function readAndPreview(file) {
      if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
        return alert(file.name + " is not an image");
      } // else...
      var reader = new FileReader();
      reader.addEventListener("load", function() {
        var image = new Image();
        image.height = 100;
        image.title  = file.name;
        image.src    = this.result;
        preview.appendChild(image);
      });
      reader.readAsDataURL(file);
    }
  }
  
  document.querySelector('#file-input').addEventListener("change", previewImages);


</script>

<!-- 
<script>
    for(var i = 0 ; i < record.length ; i++ ){ 
    var d = document.getElementById("datess").value ;
    console.log("d",d);
    var str = `${d}`;
    var res = str.split("-");
    document.getElementById("datess").innerHTML = res[1] + res[2] 
    }
</script> -->

</body>
</html>